*{
    color :rgb(29, 29, 31);
}
.navbar{
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    position: sticky;
}
.border-b{
    border-bottom: .08rem solid rgba(177, 177, 177, 0.449);
   
}
.headingname{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg,#1e3791 0%,#2948b1 40%,#3153c6 55%,#385fda 60%);
}
.marx-8rem{
    margin-left: 8rem;
    margin-right: 8rem;
}
.h50{
    height: calc(100vh-20px) !important ;
}
.av{
    width : 512px;
    height: 512px;
}
.heading{
    font-size: 4rem;
}
.tagline{
    font-size: 1.6rem;
}
.bggrey{
    background-color: rgb(242, 242, 242);
    margin: unset;

}
.heading2{
    font-size: 2.4rem;
}
.icon{
    font-size: 3rem;
}
.prg{
    background-color: #3153c6;
}
.contact{
    background-color: rgba(17,24,39,1);
    
}